/* ::general titleing */
/* ------------------------------------------------------------ */

h1.headers{
	@include respond-to($a-vp){
		@include padding-leader(4);
		@include trailer(2);

	}
	@include respond-to($c-vp){
		@include padding-leader(6);
	}
}

h2.sec-headers{
	@include leader(2);
	@include trailer(2);
}


/* ::page1 */
/* ------------------------------------------------------------ */
div.row-parent.page-1 {
	@include respond-to($a-vp){
	height: 95vh;
	width: 100%;
	float: left;
	clear: both;
	padding-top: 40vh;
	background-color: $white;
	text-align: center;
	img.logo{
		width: 100%;
		height: auto;
	}
	img.arrow{
		width: 15%;
		height: auto;
		@include leader(40);
	}
}
}

p.info-button{
	position: absolute;
	margin-left: 95%;
	bottom: 6vh;
	width: 8px;
	margin-bottom: 8px;
	img{
		width: 8px;
	}
}


p.top-arrow{
	width: 100%;
	text-align: center;
	clear: both;
	@include leader(10);
	@include adjust-font-size-to(30px);
}

/* ::page2 */
/* ------------------------------------------------------------ */

div.row-parent.page-2 {
	@include respond-to($a-vp){
	height: auto;
	width: 100%;
	float: left;
	background: $ONE-logo-blue;
	color: $white;
	@include padding-trailer(8);
	}
	@include respond-to($c-vp){
	@include padding-leader(16);
	@include padding-trailer(42);
	}
}

/* ::Page3 */
/* ------------------------------------------------------------ */

div.row-parent.page-3 {
	@include respond-to($a-vp){
	height: auto;
	float: left;
	width: 100%;
	background: $second-blue;
	color: $white;
	@include padding-trailer(8);
	}
	@include respond-to($c-vp){
	@include padding-leader(16);
	@include padding-trailer(42);
	}
}


/* ::page4 */
/* ------------------------------------------------------------ */

div.row-parent.page-4 {
	@include respond-to($a-vp){
	height: auto;
	float: left;
	width: 100%;
	background: $third-blue;
	color: $white;
	@include padding-trailer(8);
	}
	@include respond-to($c-vp){
	@include padding-leader(16);
	@include padding-trailer(42);
	}
}

/* ::page5 */
/* ------------------------------------------------------------ */

div.row-parent.page-5 {
	@include respond-to($a-vp){
	height: auto;
	float: left;
	width: 100%;
	background: $white;
	color: $mid-grey;
	div.logo-container{
		@include leader(15);
		@include trailer(15);
		text-align: center;
		img.collab-logo{
			width: 50%;
			height: auto;
			display: inline-block;
			margin-left:20px;
			margin-right:20px;
			margin-bottom: 50px;
			vertical-align: middle;
					}
		}
	@include respond-to($c-vp){
		div.logo-container{
		@include leader(30);
		@include trailer(30);
		img.collab-logo{
			width: 120px;
					}
		}
	@include padding-leader(32);
	@include padding-trailer(50);
	}
}
}


/* ::Page6 */
/* ------------------------------------------------------------ */


div.row-parent.page-6 {
	@include respond-to($a-vp){
	width: 100%;
	height: auto;
	float: left;
	background: $mid-grey;
	color: $white;
	text-align: center;
	@include padding-leader(12);
	@include padding-trailer(8);
	p{
		margin: 0;
	}
	}
	@include respond-to($c-vp){
		@include padding-trailer(16);
	}

}



footer{
	width: 100%;
	text-align: center;
	float: left;
	@include leader(4);
}
