h1.headers{
	@include respond-to($a-vp){
		@include padding-leader(4);
		@include trailer(2);

	}
	@include respond-to($c-vp){
		@include padding-leader(6);
	}
}

h2.sec-headers{
	@include leader(2);
	@include trailer(2);
}

h2.sec-headers.sub-list{
	@include respond-to($c-vp){
		@include leader(8);
	}
}

div.row-parent.page-1 {
	height: 98vh;
	padding-top: 45vh;
	background-color: $white;
	img{
		width: 100%;
		height: auto;
	}
}

div.row-parent.page-2 {
	height: auto;
	float: left;
	background: $ONE-logo-blue;
	color: $white;
	@include padding-trailer(8);
}

div.row-parent.page-3 {
	height: auto;
	float: left;
	background: $second-blue;
	color: $white;
	@include padding-trailer(8);
}

div.row-parent.page-4 {
	height: auto;
	float: left;
	background: $third-blue;
	color: $white;
	@include padding-trailer(8);

}

div.row-parent.page-5 {
	height: auto;
	float: left;
	background: $white;
	color: $mid-grey;
}

div.row-parent.page-6 {
	height: auto;
	float: left;
	background: $ONE-logo-blue;
	color: $white;
}

div.placeholder{
	@include respond-to($a-vp){
		display: none;
	}
	@include respond-to($c-vp){
		visibility: hidden;
	}
}

ul#sub1{
	@include unordered;
	padding-left: 2%;
}

ul.sub{
	@include unordered;
	padding-left: 2%;
}

header.sticky{
	width: 100%;

	div.sticky{
	margin: 0 auto;
	text-align: center;
	}
}

div.sticky-navigation
{
	margin: 0 auto;
	text-align: center;
}
div.sticky-navigation.stuck
{
	position: fixed;
	top: 0;
}