div.row-parent.page-1 {

	min-height: 95vh;
	padding-top: 45vh;
	background-color: $white;
	img{
		width: 100%;
		height: auto;
	}
}

div.row-parent.page-2 {
	min-height: 95vh;
	background: $ONE-logo-blue;
	color: $white;
	h1{
	@include padding-leader(4);
	@include trailer(2);
	}
	h2{
	@include leader(2);
	}
}

div.row-parent.page-3 {
	min-height: 95vh;
	background: $second-blue;
	color: $white;
}

div.row-parent.page-4 {
	min-height: 95vh;
	background: $third-blue;
	color: $white;
}

div.row-parent.page-5 {
	min-height: 95vh;
	background: $white;
	color: $white;
}

div.row-parent.page-6 {
	min-height: 95vh;
	background: $ONE-logo-blue;
	color: $white;
}