// ------------------------------------------------------------
// Global typography
// ------------------------------------------------------------


// ------------------------------------------------------------
// Fonts
// ------------------------------------------------------------

@font-face {
	font-family: 'dinregular';
	src: url('../fonts/font-webfont.eot');
	src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/font-webfont.woff2') format('woff2'),
		 url('../fonts/font-webfont.woff') format('woff'),
		 url('../fonts/font-webfont.ttf') format('truetype'),
		 url('../fonts/font-webfont.svg#dinregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

.font-body 					{  font-family: 'dinregular' , sans-serif, sans-serif; }
.font-var 					{  font-family: Georgia, serif; }



p, span, cite, ol, ul, pre, label, input, textarea 	{ @include adjust-font-size-to($paragraph); }
ul 													{ @include nobullet; }
ol 													{ @include nobullet; }
li 													{ line-height: inherit; }
strong, b 											{ font-weight: 700; }
em, i, q 											{ font-style: italic; }

h1.headers{
	@include padding-leader(6);
	@include trailer(2);
}

h2.sec-headers{
	@include leader(2);
	@include trailer(2);
}

h2.sec-headers.sub-list{
	@include leader(8);
}