// ------------------------------------------------------------
// Global typography
// ------------------------------------------------------------


// ------------------------------------------------------------
// Fonts
// ------------------------------------------------------------

@font-face {
	font-family: 'dinregular';
	src: url('../fonts/font-webfont.eot');
	src: url('../fonts/font-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/font-webfont.woff2') format('woff2'),
		 url('../fonts/font-webfont.woff') format('woff'),
		 url('../fonts/font-webfont.ttf') format('truetype'),
		 url('../fonts/font-webfont.svg#dinregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

.font-body 					{  font-family: 'dinregular' , sans-serif, sans-serif; }
.font-var 					{  font-family: Georgia, serif; }



p, span, cite, ol, ul, pre, label, input, textarea 	{ @include adjust-font-size-to($paragraph); }
ul 													{ @include nobullet; }
ol 													{ @include nobullet; }
li 													{ line-height: inherit; }
strong, b 											{ font-weight: 700; }
em, i, q 											{ font-style: italic; }

// ------------------------------------------------------------
// :: Typesizes/scale
// ------------------------------------------------------------



h1 {
	@include respond-to($a-vp){
		@include adjust-font-size-to(32px);
	}
	@include respond-to($c-vp){
		@include adjust-font-size-to(48px);
	}
}

h2 {
	@include respond-to($a-vp){
		@include adjust-font-size-to(18px);
	}
	@include respond-to($c-vp){
		@include adjust-font-size-to(22px);
	}
}

$paragraph: 16px;

