// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "partials/reset";
@import "partials/settings";
@import "partials/mixins";

// Use SASS globbing to import all _.scss files in the module folder.
// These should be independent modules that follow the BEM/SMACSS way

//@import "modules/*";



/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include respond-to-max(768px, $IE9: false) { // Stop at precise width, as we're talking about devices
		-webkit-text-size-adjust: 100%;	// Stops text scaling in iOS.
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
}


/* ::Import styles */
/* ------------------------------------------------------------ */

@import "partials/typography";
@import "partials/forms";
@import "partials/module-typeset";
@import "partials/grid";

/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
		@include adjust-leading-to(2);
		font-size: percentage(10 / 16);
	}
}
