// ::Imports pre-render. Must be after reset
// ------------------------------------------------------------
@import "compass/typography/vertical_rhythm";
@import "compass/css3";
@import "compass/utilities";

@import "partials/reset";
@import "partials/settings";
@import "partials/mixins";

@import "partials/*";

/* ::Base styles */
/* ------------------------------------------------------------ */

html {
	font-size: 100%;
	@include respond-to-max(768px, $IE9: false) {
		-webkit-text-size-adjust: 100%;
	}
}

body {
	@extend .font-body;
	background: $body-color;
	color: $base-color;
}

a {
	color: $action;
	text-decoration: none;
	@include link-active-styles { 	// Mixin for interactions (hover,focus,active)
		color: $action-respond;
	}
}

/* ::Print */
/* ------------------------------------------------------------ */

@media print {
	body {
	}
}
